.main-catalog{
    width: 100%;
    height: fit-content;
    padding:0vw 3vw;
    background: rgba(43, 38, 38, 0.8);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.main-catalog .options{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw;

}
.main-catalog .options .opt{
    width: 25%;
    height: 75%;
    z-index: 2;
    user-select: none;
    cursor: pointer;

}
.main-catalog .options .opt .opt-title{
    width: 100%;
    height: 100%;
    background: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    color: #FFFFFF;
    padding: 0.7vw;
}
.main-catalog .options .opt .opt-title img{
    width: 12%;
    transform: rotateZ(180deg);
}
.main-catalog .options .opt .opt-choice{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.3vw 0px;
}
.main-catalog .options .opt .opt-choice:nth-child(odd){
    background: rgba(38, 36, 36, 0.5);
}
.main-catalog .options .opt .opt-choice:nth-child(even){
    background: rgba(38, 36, 36, 0.8);
}
.main-catalog .options .opt .opt-choice h1{
    width: 70%;
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: #FFFFFF;
}

.main-catalog .options .opt .opt-choice img{
    width: 8%;
    filter: invert(1);
}
.main-catalog .show{
    width: 100%;
    height: 85%;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.main-catalog .contr{
    width: 100%;
    height: 100%;
    width: fit-content;
    height: 100%;
    padding: 1vw;
    display: inline-block;

}
.main-catalog .contr #bloc{
    width: 450px;
    height: 250px;
    position: relative;
    border: 0.5px solid #FFFFFF;
    display: inline-block;
    margin: 1vw;
}

.main-catalog .contr #bloc #bg{
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-catalog .contr #bloc .inf{
    bottom: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}
.main-catalog .contr #bloc .inf .cname{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-catalog .contr #bloc .inf .cname h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.1vw;
    color: #FFFFFF;
}
.main-catalog .contr #bloc .inf .cprice-size{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main-catalog .contr #bloc .inf .cprice-size .price{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-catalog .contr #bloc .inf .cprice-size .price h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    line-height: 37px;
    color: #FFFFFF;
}
.main-catalog .contr #bloc .inf .cprice-size .size{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-catalog .contr #bloc .inf .cprice-size .size h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}
.main-catalog .contr #bloc .inf .cprice-size .size img{
    height: 50%;
    filter: invert(1);
}
.AVC{
    position: absolute;
    background: antiquewhite;
    width: 22%;
    height: fit-content;
    left: 14%;
    z-index: 3;
    top: 41%;
}
#AVC1{
    left: 14%;
}
#AVC2{
    left: 40%;
}
#AVC3{
    left: 66%;
}


.AVC .opt-choice{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.3vw 0px;
}
.AVC .opt-choice:nth-child(odd){
    background: rgb(0 0 0 / 90%);
}
.AVC .opt-choice:nth-child(even){
    background: rgb(0 0 0 / 80%);
}
.AVC .opt-choice h1{
    width: 70%;
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: #FFFFFF;
}
.AVC .opt-choice img{
    width: 8%;
    filter: invert(1);
}

@media screen and (max-width:1900px) and (min-width:1400px){
    .main-catalog .contr {
    width: 1013px;
}
}

@media screen and (max-width:1400px) and (min-width:1300px){
    .main-catalog .contr {
    width: 964px;}
}
@media screen and (max-width:1000px) and (min-width:700px){
    .main-catalog .contr {
        width: 500px;
    }
    .main-catalog .options {
        flex-direction: column;
    }
    .main-catalog .options .opt {
        width: 60%;
        height: 75%;
        margin: 1.2vw 0px;
    }
    .main-catalog .options .opt .opt-title {
        font-size: 3.5vw;
    }
    .main-catalog .contr #bloc .inf .cname h1 {
        font-size: 4.1vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .price h1 {
        font-size: 3.6vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .size h1 {
        font-size: 3.4vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .size img {
        height: 37%;
    }
    .AVC {
        position: absolute;
        background: antiquewhite;
        width: 48%;
        height: fit-content;
        z-index: 3;
        left: auto !important;
        top: 52%;
    }
    .AVC .opt-choice h1 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width:700px) and (min-width:500px){
    .main-catalog .options {
        flex-direction: column;
    }
    .main-catalog .options .opt {
        width: 60%;
        height: 75%;
        margin: 1.2vw 0px;
    }
    .main-catalog .options .opt .opt-title {
        font-size: 3.5vw;
    }
    .main-catalog .contr #bloc {
        width: 80vw;
        height: 43vh;
    }
    .main-catalog .contr #bloc .inf .cname h1 {
        font-size: 4.1vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .price h1 {
        font-size: 3.6vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .size h1 {
        font-size: 3.4vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .size img {
        height: 37%;
    }
    .AVC {
        position: absolute;
        background: antiquewhite;
        width: 48%;
        height: fit-content;
        z-index: 3;
        left: auto !important;
        top: 48%;
    }
    .AVC .opt-choice h1 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width:500px) and (min-width:300px){
    .main-catalog .options {
        flex-direction: column;
    }
    .main-catalog .options .opt {
        width: 60%;
        height: 75%;
        margin: 1.2vw 0px;
    }
    .main-catalog .options .opt .opt-title {
        font-size: 3.5vw;
    }
    .main-catalog .contr #bloc {
        width: 80vw;
        height: 43vh;
    }
    .main-catalog .contr #bloc .inf .cname h1 {
        font-size: 4.1vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .price h1 {
        font-size: 3.6vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .size h1 {
        font-size: 3.4vw;
    }
    .main-catalog .contr #bloc .inf .cprice-size .size img {
        height: 37%;
    }
    .AVC {
        position: absolute;
        background: antiquewhite;
        width: 48%;
        height: fit-content;
        z-index: 3;
        left: auto !important;
        top: 42%;
    }
    .AVC .opt-choice h1 {
        font-size: 2.5vw;
    }
}
@media screen and (max-width:300px) and (min-width:0px){
    *{
    display: none;
    visibility: hidden;}
}
